:root{
    --midnight-velvet:#272343;
    --white: #ffffff;
    --zappy-zebra: #f0f2f3;
    --deep-current: #007580;
    --background-color: #fff;
    --faded-white-color: rgba(255,255,255,0.7);
    --spike: #636270;
    --cold-wind: #E1E3E5;


    --max-width: 1014px;

    /* --max-width: 1320px; */
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}


.header__support--container{
     background-color: var(--midnight-velvet);
    color: var(--faded-white-color);
    font-size: 13px;
    font-weight: 400;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 150px;
    

}


.header__suport__menu{
    display: flex;
    list-style: none;
    gap: 24px;
}

.header__suport__menu li{
    display: flex;
    align-items: center;
}




.cto{
    background:var(--zappy-zebra);
    height: 84px;
    padding: 20px 150px;
    display: flex; 
    justify-content: space-between;
    gap: 24px;
    
}



.cto---modified-direction{
    display: flex;
    gap: 8px;
    align-items: center;
    
}
.logo{
    display: flex;
    gap: 8px;
}

.logo-company-name{
    font-size: 26px;
    font-weight: 500;
    line-height: 120%;
    color: var(--midnight-velvet);
}

.cto__search-bar{
    background-color:var(--white);
    width: 413px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
}

.cto__search-bar input{
       width:150px;
       height: 19px;
       top: 33px;
       left: 736.5px;
       border: none;
       color: var(--faded-white-color);
}

.cto__activities{
    width:232px;
    height: 44px;
    display: flex;
    gap: 12px;
   
}

.cto---modified{
    background-color: var(--white);
    border-radius: 8px;
    padding: 11px 16px;
}

.cto--add-to-cart{
    width:120px ;
    height: 44px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.cto-heart{
    width:44px ;
    height: 44px;
}

.ct0-profile{
    width: 44px;
    height: 44px;
}

.nav-bar{
    background:var(--background-color);
    height: 75px;
    padding: 14px 150px;
    display: flex; 
    justify-content: space-between;
    


}

.nav-bar__navigation-list{
    width: 547px;
    height: 47px;
    display: flex;
    align-items: center;
    gap: 32px;
    
}

.nav-bar__menu-dropdown{
    width: 176px;
    height: 47px;
    border-radius: 6px;
    border: 1px solid var(--cold-wind);
    padding: 16px 24px;
    display: flex;
    align-items: center;
    gap: 16px;
    
}

.nav-bar__menu-dropdown-title{
     font-weight: 500;
     font-size: 13px;
     line-height: 110.00000000000001%;
     letter-spacing: 0%;
     color: var(--midnight-velvet);
     
}

.nav-bar__navigation-titles{
     font-weight: 500;
     font-size: 14px;
     line-height: 110.00000000000001%;
     letter-spacing: 0%;
     color: var(--midnight-velvet);
     display: flex;
     list-style: none;
     gap: 32px;
}

.nav-bar__navigation-titles a{
    text-decoration: none;
    color:var(--spike);
}

.nav-bar__navigation-titles a :hover{
    color: var(--deep-current);
}

.nav-bar__contact{
    width: 168px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--spike);
    font-weight: 400;
    font-size: 13px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
   
}

.nav-bar__contactblod{
    color: var(--midnight-velvet);
    font-weight: 500;
    
}