:root{
    --midnight-velvet:#272343;
    --white: #ffffff;
    --zappy-zebra: #f0f2f3;
    --deep-current: #007580;
    --background-color: #fff;
    --faded-white-color: rgba(255,255,255,0.7);
    --spike: #636270;
    --cold-wind: #E1E3E5;
    --lake-blue: #029FAE;
    --wet-asphalt: #9A9CAA;


    --max-width: 1014px;

    /* --max-width: 1320px; */
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background-color: var(--background-color);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}


.header__support--container{
     background-color: var(--midnight-velvet);
    color: var(--faded-white-color);
    font-size: 13px;
    font-weight: 400;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 150px;
    

}


.header__suport__menu{
    display: flex;
    list-style: none;
    gap: 24px;
}

.header__suport__menu li{
    display: flex;
    align-items: center;
}




.cto{
    background:var(--zappy-zebra);
    height: 84px;
    padding: 20px 150px;
    display: flex; 
    justify-content: space-between;
    gap: 24px;
    
}



.cto---modified-direction{
    display: flex;
    gap: 8px;
    align-items: center;
    
}
.logo{
    display: flex;
    gap: 8px;
}

.logo-company-name{
    font-size: 26px;
    font-weight: 500;
    line-height: 120%;
    color: var(--midnight-velvet);
}

.cto__search-bar{
    background-color:var(--white);
    width: 413px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
}

.cto__search-bar input{
       width:150px;
       height: 19px;
       top: 33px;
       left: 736.5px;
       border: none;
       color: var(--faded-white-color);
}

.cto__activities{
    width:232px;
    height: 44px;
    display: flex;
    gap: 12px;
   
}

.cto---modified{
    background-color: var(--white);
    border-radius: 8px;
    padding: 11px 16px;
}

.cto--add-to-cart{
    width:120px ;
    height: 44px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.cto-heart{
    width:44px ;
    height: 44px;
}

.ct0-profile{
    width: 44px;
    height: 44px;
}

.nav-bar{
    background:var(--background-color);
    height: 75px;
    padding: 14px 150px;
    display: flex; 
    gap: 12px;
    justify-content: space-between;
    
}

.nav-bar__navigation-list{
    width: 547px;
    height: 47px;
    display: flex;
    align-items: center;
    gap: 32px;
    
}

.nav-bar__menu-dropdown{
    width: 176px;
    height: 47px;
    border-radius: 6px;
    border: 1px solid var(--cold-wind);
    padding: 16px 24px;
    display: flex;
    align-items: center;
    gap: 16px;
    
}

.nav-bar__menu-dropdown-title{
     font-weight: 500;
     font-size: 13px;
     line-height: 110.00000000000001%;
     letter-spacing: 0%;
     color: var(--midnight-velvet);
     
}

.nav-bar__navigation-titles{
     font-weight: 500;
     font-size: 14px;
     line-height: 110.00000000000001%;
     letter-spacing: 0%;
     color: var(--midnight-velvet);
     display: flex;
     list-style: none;
     gap: 32px;
}

.nav-bar__navigation-titles a{
    text-decoration: none;
    color:var(--spike);
}

.nav-bar__navigation-titles a :hover{
    color: var(--deep-current);
}

.nav-bar__contact{
    width: 190px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px 0px;
    gap: 10px;
    color: var(--spike);
    font-weight: 400;
    font-size: 13px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
   
    
   }

.nav-bar__contactblod{
    width: 100px;
    color: var(--midnight-velvet);
    font-weight: 500;
    
}


.home-section{
    /* width: 1740px; */
    width: 870px;
    height: 425px;
    margin: 20px 40px;
    border-bottom-right-radius: 48px;
    border-bottom-left-radius: 48px;
    display: flex;
    align-items: center;
    background-color: var(--zappy-zebra);
    position: relative;
    
}

.home-section__left-section{
    width: 621px;
    height: 313px;
    top: 253px;
    left: 200px;
    border-radius: 8px;
    margin-left: 30px;
}

.home-section__left-section h6{
    width: 167px;
    height: 14px;
    top: 253px;
    left: 200px;
    font-weight: 400;
    font-size: 14px;
    line-height: 90%;
    letter-spacing: 6%;
    color: var(--midnight-velvet);
}

.home-section__left-section h1{
    width: 621px;
    height: 215px;
    top: 275px;
    left: 200px;
    font-weight: 700;
    font-size: 56px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    color: var(--midnight-velvet);
}

.home-section__left-section button{
    width:161px;
    height: 42px;
    top: 524px;
    left: 200px;
    border-radius: 8px;
    border: none;
    padding: 14px 24px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--lake-blue);
    color: var(--white);
}

.home-section__button-text{
    width: 50px;
    height: 9px;
    font-weight: 600;
    font-size: 10px;

}

.right-section-bg{
    width: 300px;
    height: 300px;
    position:absolute;
    top: 2px;
    left: 540px;
}

.right-section-chair{
    width: 220px;
    height: 270px;
    position: absolute;
    z-index: 10;
    top: 75px;
    left: 590px;
}

.right-section-discount{
    position:absolute;
    z-index: 90;
    top: 10px;
}



.home-section__offer-information{
    width: 740px;
    height: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 12px;
    padding: 50px 20px;
    background-color: var(--white);
    position:absolute;
    z-index: 50;
    top: 380px;
    right:50px;
    left: 50px;
}

.offer-information__block{
    display: flex;
    align-items: center;
    gap: 10px;
}

.offer-information__icon{
    width: 30px;
    height: 30px;
}


.offer-information__icon---modified{
    width: 40px;
    height: 30px;
}

.home-section__offer-information p{
    height: 46px;
    font-weight: 500;
    font-size: 15px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    color: var(--midnight-velvet);
    
}

.offer-information---text-modified{
    font-weight: 400;
    font-size: 10px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    color: var(--wet-asphalt);
   }

.offer-information__block1{
    width: 219px;
    
}

.offer-information__block2{
    width: 248px;
}

.offer-information__block3{
    width: 270px;
}

.offer-information__block4{
    width: 283px;
}

.pagraph1{
    width: 104px;
}

.pagraph2{
    width: 120px;
}

.pagraph3{
    width: 150px;
}

.pagraph4{
    width: 160px;
}

.investors{
    width: 100%;
    display: flex;
    justify-content: center;
     margin-top: 90px;
}

.investors__logos{
    width: 740px;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0px;
}

.investors img{
    width: 85px;
    height: 85px;
}

